/* #region project-category */
.project-category-page {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.project-category-page .section-header {
	padding: 2.25rem 0.75rem;
}

.project-category-page .section-title {
	@media (min-width: 40rem) {
		font-size: 1.75rem;
	}
}
/* #endregion project-category */
/* #region project-list */
.project-list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 0.75rem;
	list-style: none;
}

.project-card {
	background-color: var(--color-background-subtle);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border-block: 1px solid var(--color-border);
	overflow: hidden;

	@media (min-width: 40rem) {
		grid-template-columns: 5fr 3fr;
	}
}

.project-card-image-wrapper {
	height: 100%;
	padding: 0.75rem;
	padding-bottom: 0;

	@media (min-width: 40rem) {
		order: 1;
		padding: 0;
	}
}

.project-card-image {
	aspect-ratio: 5 / 4;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;

	@media (min-width: 40rem) {
		aspect-ratio: unset;
		border-radius: 0;
	}
}

.project-card-content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem;
}

.project-card-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	align-items: center;

	margin-left: -0.75rem;
	padding-left: calc(0.75rem - 2px);
	padding-block: 0.25rem;
	border-left: 2px solid var(--color-foreground);

	> * {
		font-size: 1rem;
	}
}

.project-card-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.75rem;
	list-style: none;
}

.project-card-description {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
/* #endregion project-list */
/* #region project-category-empty */
.project-category-empty-container {
	background-color: var(--color-background-subtle);
	margin-block: auto;
	padding: 4rem 0.75rem;
	border-block: 1px solid var(--color-border);
}

.project-category-empty-message {
	max-width: 30ch;
	font-size: 1.25rem;
	text-align: center;
	place-self: center;
}
/* #endregion project-category-empty */
