.project-category-page {
	padding-top: 2.25rem;
}

.project-category-page .section-title {
	@media (min-width: 40rem) {
		font-size: 1.75rem;
	}
}

.project-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;

	li:nth-child(2n+1) .project-card-content {
		@media (min-width: 40rem) {
			order: -1;
		}
	}
}

.project-card {
	background-color: var(--color-card-background);
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.75rem;
	border: 1px solid var(--color-border);
	border-radius: 0.25rem;
	overflow: hidden;

	@media (min-width: 40rem) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.project-card-image {}

.project-card-content {
	padding: 0.75rem;
}

.project-card-title {}

.project-card-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.9375rem;
}
