/* #region project-category */
.project-category-page {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.project-category-page .project-category-list {
	padding: 0.75rem;
}

.project-category-page .project-category-card {
	aspect-ratio: 4 / 3;
	background-position: center 33.33%;
	
	&.active {
		background-color: var(--color-accent);
		background-image: none;
		border: 1px solid var(--color-foreground);
		filter: none;
		pointer-events: none;

		.project-category-card-title, .project-category-card-counter {
			color: var(--color-foreground);
		}

		.project-category-card-counter {
			border-color: var(--color-foreground);
		}
	}
}

.project-category-page-title {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
	padding: 0.75rem;
	font-size: 1rem;
	text-align: center;

	@media (min-width: 40rem) {
		font-size: 1.25rem;
	}

	&::before, &::after {
		content: "";
		flex: 1;
		border-bottom: 1px solid var(--color-foreground);
		pointer-events: none;
	}
}
/* #endregion project-category */
/* #region project-list */
.project-list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 0.75rem;
	list-style: none;
}

.project-card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border-block: 1px solid var(--color-border);
	overflow: hidden;
	text-decoration: none;
	color: var(--color-foreground);
	transition: background-color 0.25s;

	@media (hover: none) {
		background-color: var(--color-background-subtle);
	}

	@media (min-width: 40rem) {
		grid-template-columns: 3fr 4fr;
	}

	&:has(a:hover) {
		background-color: var(--color-background-subtle);

		.project-card-image {
			transform: scale(1.025);
		}
	}
}

.project-card-image-wrapper {
	height: 100%;
	max-height: 33dvh;
	padding: 0.75rem;
	padding-bottom: 0;
	overflow: hidden;

	@media (min-width: 40rem) {
		order: 1;
		padding: 0;
		border-left: 1px solid var(--color-border);
	}
}

.project-card-image {
	aspect-ratio: 5 / 3;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	transition: transform 0.25s;

	@media (min-width: 40rem) {
		border-radius: 0;
	}
}

.project-card-content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem;
	height: 100%;
}

.project-card-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	align-items: center;

	margin-left: -0.75rem;
	padding-left: calc(0.75rem - 2px);
	padding-block: 0.25rem;
	border-left: 2px solid var(--color-foreground);

	> * {
		font-size: 1rem;
	}
}

.project-card-description-short {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	.link {
		width: max-content;
	}
}

.project-card-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.75rem;
	list-style: none;
	margin-top: auto;
}

.project-card-links .button {
	border: 0;
	border-radius: 0;
}
/* #endregion project-list */
/* #region project-category-empty */
.project-category-empty-container {
	background-color: var(--color-background-subtle);
	margin-block: auto;
	padding: 4rem 0.75rem;
	border-block: 1px solid var(--color-border);
}

.project-category-empty-message {
	max-width: 30ch;
	font-size: 1.25rem;
	text-align: center;
	place-self: center;
}
/* #endregion project-category-empty */
