/* #region global */
:root {
	--color-background: oklch(0.9601 0.002 286.37);
	--color-foreground: oklch(0.2397 0.0019 286.26);
	--color-accent: oklch(0.9369 0.1283 102.82);
	--color-accent-dark: oklch(0.926265 0.147827 102.8842);
	--color-accent-light: oklch(0.9482 0.106 102.64);

	--color-border: color-mix(in oklch, var(--color-foreground) 10%, var(--color-background));
	--color-muted: color-mix(in oklch, var(--color-foreground) 80%, var(--color-background));
	--color-background-subtle: color-mix(in oklch, var(--color-foreground) 2.5%, var(--color-background));
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: "Google Sans", sans-serif;
	overflow-x: hidden;
	
	@media (min-width: 50rem) {
		scrollbar-gutter: stable both-edges;
	}
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

p {
	color: var(--color-muted);
	line-height: 1.5;
}
/* #endregion global */
/* #region layout */
.app {
	max-width: 48rem;
	margin: 0 auto;
}

/* outline layout */
.main {
	display: flex;
	flex-direction: column;
	min-height: calc(100svh - 3rem);

	@media (min-width: 48rem) {
		border-inline: 1px solid var(--color-border);
	}

	& > * {
		border-bottom: 1px solid var(--color-border);
	}

	& > *:last-child {
		border-bottom: none;
	}
}

.footer {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--color-border);
		display: block;
		height: 1px;

		@media (min-width: 50rem) {
			background: linear-gradient(90deg, transparent 0%, var(--color-border) 2.5%, var(--color-border) 97.5%, transparent 100%);
		}
	}
}

.footer-content {
	max-width: 48rem;
	padding: 0.75rem;
	margin: 0 auto;
	font-weight: 500;
	color: var(--color-foreground);

	@media (min-width: 48rem) {
		border-inline: 1px solid var(--color-border);
	}
}

.section {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem;
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.section-title {
	font-size: 1.25rem;
	margin-left: -0.75rem;
	padding-left: calc(0.75rem - 2px);
	padding-block: 0.25rem;
	border-left: 2px solid var(--color-foreground);
}

.link-with-icon {
	position: relative;
	display: flex;
	z-index: 1;
	flex-direction: row;
	gap: 0.25rem;
	align-items: center;
	font-weight: 500;
	color: var(--color-foreground);
	text-decoration: none;

	&::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		background-color: currentColor;
		mask: var(--icon) center / contain no-repeat;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		background-color: var(--color-accent);
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}

	&:is(:hover, :focus) {

		&::before {
			animation: wiggle 0.25s ease-in-out 2;
		}

		&::after {
			transform-origin: left;
			transform: scaleX(1);
		}
	}
}
/* #endregion layout */
/* #region animations */
@keyframes wiggle {
	0%, 100% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-7.5deg);
	}

	75% {
		transform: rotate(7.5deg);
	}
}
/* #endregion animations */
