/* #region global */
@font-face {
  font-family: "Google Sans";
  src: url("/assets/fonts/google-sans-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("/assets/fonts/google-sans-italic-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("/assets/fonts/google-sans-code-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("/assets/fonts/google-sans-code-italic-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
	--color-background: oklch(0.9601 0.002 286.37);
	--color-foreground: oklch(0.2397 0.0019 286.26);
	--color-accent: oklch(0.9369 0.1283 102.82);
	--color-accent-dark: oklch(0.926265 0.147827 102.8842);
	--color-accent-light: oklch(0.9482 0.106 102.64);

	--color-border: color-mix(in oklch, var(--color-foreground) 10%, var(--color-background));
	--color-muted: color-mix(in oklch, var(--color-foreground) 80%, var(--color-background));
	--color-background-subtle: color-mix(in oklch, var(--color-foreground) 2.5%, var(--color-background));

	--font-sans: "Google Sans", sans-serif;
	--font-monospace: "Google Sans Code", monospace;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-sans);
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
	
	@media (min-width: 50rem) {
		scrollbar-gutter: stable both-edges;
	}
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	pointer-events: none;
	user-select: none;
}

p {
	color: var(--color-muted);
	line-height: 1.8;
}

strong {
	font-weight: 500;
	color: var(--color-foreground);
}

code {
	background-color: var(--color-background-subtle);
	border: 1px solid var(--color-border);
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	font-family: var(--font-monospace);
	font-size: 0.875em;
	white-space: nowrap;
}

small {
	font-size: 0.75em;
	color: var(--color-muted);
}

time {
	font-style: italic;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.italic {
	font-style: italic;
}

.link {
	z-index: 1;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	gap: 0.25rem;
	align-items: center;
	padding: 0.125em 0.25em;
	margin: -0.125em -0.25em;
	font-weight: 500;
	line-height: normal;
	color: var(--color-foreground);
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--color-muted);
	text-underline-offset: 0.375em;
	transition: text-decoration-color 0.25s;

	&:is(.icon-left, .icon-right, [target="_blank"])::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		background-color: currentColor;
	}
	
	&[target="_blank"]::before {
		order: 1;
		mask: url("/assets/icons/external.svg") center / contain no-repeat;
	}
	
	&.icon-left::before {
		order: -1;
		mask: var(--icon) center / contain no-repeat;
	}

	&.icon-right::before {
		order: 1;
		mask: var(--icon) center / contain no-repeat;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		background-color: var(--color-accent);
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}

	&:is(:hover, :focus) {
		text-decoration-color: var(--color-accent);

		&::before {
			animation: wiggle 0.25s ease-in-out 2;
		}

		&::after {
			transform-origin: left;
			transform: scaleX(1);
		}
	}
}

.stretched-link {
	position: absolute;
	inset: 0;
}

.button {
	z-index: 1;
	position: relative;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	font-weight: 500;
	color: var(--color-foreground);
	text-decoration: none;
	border: 1px solid var(--color-foreground);
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
	transition: background-color 0.25s, color 0.25s;

	&.icon-left::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		background-color: currentColor;
		mask: var(--icon) center / contain no-repeat;
	}

	&:is(:hover, :focus) {
		background-color: var(--color-accent);
		color: var(--color-foreground);

		&::before {
			animation: wiggle 0.25s ease-in-out 2;
		}
	}
}
/* #endregion global */
/* #region layout */
.app {
	max-width: 48rem;
	margin: 0 auto;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: calc(100svh - 3.5rem);

	@media (min-width: 48rem) {
		border-inline: 1px solid var(--color-border);
	}

	& > * {
		border-bottom: 1px solid var(--color-border);
	}

	& > *:last-child {
		border-bottom: none;
	}
}

.page-navigation {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: color-mix(in oklch, var(--color-background) 90%, transparent);
	display: grid;
	grid-template-columns: 3.25rem auto 3.25rem;
	align-items: center;
	border-bottom: none;
	box-shadow: 0 1px 0 0 var(--color-border);
	backdrop-filter: blur(0.25rem) grayscale(1);
}

.page-navigation-back {
	display: block;
	padding: 0.875rem;
	transition: background-color 0.25s;

	&::before {
		content: "";
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		background-color: var(--color-foreground);
		mask: url("/assets/icons/arrow-navigate-back.svg") center / contain no-repeat;
	}

	&:hover {
		background-color: var(--color-background-subtle);
	}
}

.page-title {
	padding: 0.75rem;
	font-size: 1rem;
	text-align: center;
}

.page-nagivation-spacer {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
}

.footer {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--color-border);
		display: block;
		height: 1px;

		@media (min-width: 50rem) {
			background: linear-gradient(90deg, transparent 0%, var(--color-border) 2.5%, var(--color-border) 97.5%, transparent 100%);
		}
	}
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 48rem;
	padding: 0.75rem;
	margin: 0 auto;
	font-weight: 500;
	color: var(--color-foreground);

	@media (min-width: 48rem) {
		border-inline: 1px solid var(--color-border);
	}
}

.footer-links {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	list-style: none;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0.75rem;
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.section-title {
	font-size: 1.25rem;
	margin-left: -0.75rem;
	padding-left: calc(0.75rem - 2px);
	padding-block: 0.25rem;
	border-left: 2px solid var(--color-foreground);
}

.section-subtitle {
	margin-top: 0.75rem;
	font-size: 1rem;
}
/* #endregion layout */
/* #region animations */
@keyframes wiggle {
	0%, 100% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-7.5deg);
	}

	75% {
		transform: rotate(7.5deg);
	}
}
/* #endregion animations */
